<html xmlns:th="https://thymeleaf.org">
<div>
	<table>
		<tbody>
			<table>
			<tr>
					<td th:each="note : ${notes}">
					<tr><tr>
				<td>Title :</td>
				<td><span th:text="${note.getNoteTitle()}"></span>
				
					<td>		
				</tr>
				<tr>
					<td th:each="note : ${notes}">
					<tr><tr>
				<td>Description :</td>
				<td><span th:text="${note.getNoteDiscription()}"></span>
				
					<td>		
				</tr>
			<tr>
				<td>Created On :</td>
				<td><span th:text="${note.getCreatedDate()"></span>
				
					<td>
			
				</tr>
			<tr>
				<td>Updated On :</td>
				<td><span th:text="${note.getUpdatedDate()"></span>
				
					<td>
			
				</tr>
			<td>
				<button onclick="#" >Update Note</button>
			</td>
			</tr>
			</table>
			<tr>
			<td colspan="2">
					<button onclick="#" th:attr="onclick=|upload('/newnotes.html')">Create Note</button>
			</td>
			</tr>
		</tbody>
	</table>
</div>
</html>
